 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="row-lg-4 row-lg-offset-2">
                    <h1>I am an engineering student passionate about building long-lasting and repairable devices, utilizing thoughtful and well-tested designs.</h1>
                </div>
                <div class="row-lg-4">
                    <p>
                        As a tinkerer, I am always looking to learn new skills and face new challenges. My love of tinkering turned into a passion for electronics and software in high school when I built my 
                        first computer and learned to repair smartphones. I carried this passion to my college years at Northeastern University where I've developed skills ranging from Python 
                        scripting to PCB design in pursuit of learning electronics and the software that powers them.
                        <br> <br>
                        At my university, I've been an active member of the rocketry projects in AerospaceNU since the fall of my freshman year. It was here that I built some of my first PCBs and dove deeper into firmware
                        development. I am proud to say my contributions towards our flight control systems have been successfully flight-tested. Nowadays, I've turned to teaching for the club's 
                        Intro to Rocketry: Avionics program as a way to instill my passion for avionics in new members.
                        <br> <br>
                        Taking advantage of NEU's Co-op program, I've most recently had the opportunity to work at Formlabs as a part of the embedded software team. Here I learned about the product development 
                        life-cycle as well as how to collaborate with peers working on the design, testing, and service teams. During my time there I contributed to UI and printer-side code for an upcoming 3D 
                        printer peripheral and maintained the software running on current generation Formlabs printers. 
                        <br> <br>
                        As I develop my skills, my passion for electronics and software grows. I wish to use these skills to solve problems and build innovative devices. <br>
                    </p>
                </div>
                <div class="row-lg-8 row-lg-offset-2 text-center">
                    <a href="resume/Resume2.0P.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
